body {
    background-color: #d0caca;
    font-family: 'Montserrat';
    padding: 3em;
}

#v0 {
    position: fixed;
    top: 0%;

    
    ;
    right: 0.0;
    width: 100%;
    height: 100%;
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

.content {
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    top: 100%;
}

h1 {
    font-size: 3em;
    background: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0;
}
p { font-size: 1.5em; }

section:nth-of-type(1) {
    height: 0px;
}
section:nth-of-type(2) {
    height: 0px;
}
section:nth-of-type(3) {
    height: 0px;
}
section:nth-of-type(4) {
    height: 0px;
}
section:nth-of-type(5) {
    height: 0px;
}

.entered {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-4 16:24:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
